{% extends "index.html" %} 

{% block content%}

<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="/static/coffe.jpg" alt="" /></div>
        <div class="formBx">
          <form method="post" >
            {% csrf_token %}
            <h2>Sign In</h2>
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="first_name" placeholder="name" />
            <input type="text" name="last_name" placeholder="name" />
            <input type="email" name="email" placeholder="email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" name="submit" value="signup" />
            <p class="signup">
               have an account ?
              <a href="/login" onclick="toggleForm();">Login.</a>
            </p>
          </form>
        </div>
      </div>
      
  </section>
</body>

{% endblock %}